In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('ninth_grade_students_dataset.csv')
df.head()

,student_id,school,gender,race_ethnicity,gpa_8th,gpa_9th,math_score,reading_score,school_income
0,1,School_15,Female,White,2.54,2.94,64.2,81.3,46309
1,2,School_14,Male,White,3.08,3.38,79.3,83.5,47781
2,3,School_15,Female,Hispanic,2.34,2.15,55.8,49.8,46309
3,4,School_3,Female,White,3.63,3.27,76.1,70.7,43580
4,5,School_13,Male,Black,3.25,3.37,79.0,79.9,38849